nav{
    background-color: rgb(53, 173, 248);
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px auto;
    margin: 0 auto;

}

.titulo{
    color: antiquewhite;
    font-size: 1.5rem;
    font-weight: 500;
}

.menu-links{
    display: flex;
    gap: 24px;
    list-style: none;
}

.menu-links a{
    text-decoration: none;
    color: antiquewhite;
}

.menu-links a:hover{
    color: aquamarine;

}

.hero{
    background-color: #fff;
    color: rgb(66, 80, 235);
    text-align: center;
    padding: 100px 24px;
}

.hero h1{
    font-size: 2.5rem;
    margin-bottom: 16px;
}

.hero p{
    font-size: 1.1rem;
    max-width: 600px;
    margin: 0 auto 32px auto;
    color: rgb(66, 80, 235);
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    background-color: #fff;
}

.section-title{
    font-size: 1.5rem;
    text-align: center;
    background-color: rgb(53, 173, 248);
    color: antiquewhite;
    margin: 0;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card{
    background-color: rgb(66, 80, 235);
    color:antiquewhite;
    border: 1px solid #fff;
    border-radius: 200px;
    padding: 40px;
    flex: 1 1;
}

.cta{
    background-color: #fff;
    color: rgb(53, 173, 248);
    text-align: center;
    padding: 100px 24px;
}

.footer {
    background-color: rgb(53, 173, 248);
    color: #fff;
    text-align: center;
    padding: 30px;
}

.social-link {
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style: none;
    padding: 0;
}

.social-link a {
    text-decoration: none;
}
